
.principal{
  display: flex;
}

/* reposo */

div{
  padding-top: 5px;
  margin-bottom:5px;
}

span, input{
  font-size: 16px/16px Verdana;
  padding: 0;
}

label{
  display:block;
   width:400px;
  border: 2px solid silver;
  padding: 8px 10px;
  position: relative;
  box-sizing: border-box;
  border-radius: 5px;
  transition: 0.25s;
}

label input{    
  display: block;
  width:100%;
  border: none;
  outline:none;
  background:transparent;
}

label span{
  color: silver;
  top: 8px;
  left: 10px;
  position: absolute;
  transition: 0.25s;
} 
  
button{
  margin: 0px 5px;
  padding: 8px 15px;
  border-radius: 5px;
}

/* focus */

label.focus{
  border-color: brown;
}

label span.focus{
  color:brown;
}

/* top */

label span.top{
  left: 2px;
  top:  -8px;
  font-size: 12px;
  background: white;
  padding: 0 3px;
}
